<section id="about">
  <div>
    <h2>About Me</h2>
    <div>
      <p>
        I'm a passionate full-stack developer with a knack for solving problems
        with automation. Formerly worked as a research scientist in
        astrophysics. Currently working mainly with Python, specifically Django,
        and using Heroku and Shopify to enable e-commerce.
      </p>
      <p>
        I love tackling challenging problems, not just in order to solve them,
        but also because of the new methods I may have to learn or develop, and
        the fascinating people I might meet through collaboration. See
        <a href="/blog/2025-03-welcome">my introductory blog post</a> for more about
        me and this website.
      </p>
    </div>
  </div>
</section>

<style>
  section > div > div {
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: 1.125rem;
    margin-inline: auto;
    max-width: var(--blog-width);
  }

  section > div > div > p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  a {
    color: var(--color-accent-hover);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-accent);
  }
</style>
