---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const dateOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
} as Intl.DateTimeFormatOptions;

const blog = await getCollection("blog");
---

<Layout title="Blog">
  <section>
    <h1>Blog</h1>
    <div class="blogList">
      {
        blog.map(({ id, data }) => (
          <div class="blogLink">
            <a href={`/blog/${id}`}>
              <span>
                <h2>{data.title}</h2>
                <p class="pubDate">
                  {data.pubDate.toLocaleDateString("en-us", dateOptions)}
                </p>
                <p class="description">{data.description}</p>
              </span>
            </a>
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  h1 {
    color: var(--color-text-secondary);
    font-family: var(--font-display);
    font-size: 3rem;
    text-align: center;
  }

  .blogList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    max-width: var(--blog-width);
  }

  .blogLink {
    background-color: var(--color-bg-secondary);
    border-radius: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(255 255 255 / 0.05),
      0 4px 6px -4px rgb(255 255 255 / 0.05);
    padding-inline: 1rem;
    transition: var(--transition-time);
  }

  .blogLink:hover {
    box-shadow:
      0 10px 15px -3px rgb(255 255 255 / 0.1),
      0 4px 6px -4px rgb(255 255 255 / 0.1);
    transition: var(--transition-time);
  }

  .blogLink a {
    color: var(--color-text-primary);
    display: block;
    text-decoration: none;
    text-emphasis: none;
  }

  .blogLink h2 {
    color: var(--color-accent-hover);
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    margin-block: 0.5rem;
  }

  .pubDate {
    color: var(--color-text-secondary)
    font-size: 1rem;
  }

  .description {
    font-size: 1.125rem;
  }
</style>
